<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Show-And-Tell</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.css')}}" />


	<!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}" />

	<!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />

    <!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}" />

</head>

<body>

	<!-- Why Choose Us -->
	<div id="inference" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container" >

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Image Captioning</h2>
					</div>
					<h4>How it works?</h4>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Upload the image  </p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Submit the image to the back-end server</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>The trained machine learning model will process the image</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Result will be shown in a few seconds</p>
					</div>
				</div>
				
				<!-- About slider -->
				<div class="col-md-6">
					<form id="upload-file" method="post" enctype="multipart/form-data">
						<label for="imageUpload" class="upload-label">
							Upload...
						</label>
						<input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
					</form>
					
					<div class="image-section" style="display:none;">
						<div class="img-preview">
							<div id="imagePreview">
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-primary btn-lg " id="btn-predict">Get Caption!</button>
						</div>
					</div>
					
					<!-- <div class="loader" style="display:none;"></div> -->
					
					<h3 id="result">
						<span> </span>
					</h3>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	

	<!-- jQuery Plugins -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript"></script>


</body>

</html>
